/********* MAIN STYLES ************/
.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.container {
	display: flex;
}

.fixed {
	width: 40px;
}

.flex-item {
	flex-grow: 1;
}

h3 {
	margin: 0;
}

span {
	margin-top: 2px;
}

.wrapper-left {
	max-width: 75%;
}


/********* HEADER STYLES ************/

.header > p {
	font-size: 14px
}






/********* LABELS STYLES ************/
.labels {
	margin-left: 40px;
}






/********* CHECKLIST STYLES ************/




/*** PROGRESS BAR ***/
.progress-label {
	margin-top: 4px;
}

progress[value] {
	width: 100%;	
}

/*
progress[value] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 20px;
}

progress[value]::-webkit-progress-bar {
	backgroud-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

progress[value]::-webkit-progress-value {
	border-radius: 2px;
	background-size: 2px, 4px, 100% 100%;
}
*/
















/******CHECKLIST METER *****************/
/*.meter-outer {
	width: 100%;
	overflow: hidden;
}

.meter-percent {
	width: 4%;
	float: left;
}

.meter {
	height: 10px;
	position: relative;
	background: #F8F9F9;
	border-radius:25px;
	padding: 25;
	margin-left: 50px;
}

.meter > span {
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #F8F9F9;
	background-image: linear-gradient(
           center bottom,
           rgb(43,194,83) 37%,
           rgb(84,240,84) 69%
		);
	box-shadow: 
		inset 0 2px 9px rgba(255,255,255,0.3),
		inset 0 -2px 6px rgba(0,0,0,0.4);
	;
	position: relative;
	overflow: hidden;
}*/

.blue > span {
	background-position: #0079BF;
	background-image: linear-gradient(to bottom, #0079BF, #0079BF);
}

/****** CheckBox list  *******/

input[type="checkbox"] {
	display:none;
}

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	font-size: 13px;

}

.checkbox label:before {
	content: "";
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-right: 10px;
	background-color: #f6f6f6;
	border-radius: 3px;

}


input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0,0,0 .2);
	font-size: 14px; //confirmed inherited from body
	color: #f3f3f3f3;
	text-align: center;
	line-height: 15px;
}

/*input[type="checkbox"] + label span {
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url(../img/check_radio_sheet.png) left top no-repeat;
	margin: -1px 30px 0 0;
	vertical-align: middle;
	cursor: pointer;
}

input[type="checkbox"]:checked + label span {
	background: url(../img/check_radio_sheet.png) -19px top no-repeat;
}*/








