/************************************
*********** MAIN STYLES ************
*************************************/
.wrapper {
	max-width: 700px;
	margin: 0 auto;
	padding: 15px 10px;
}

.container {
	display: flex;
}

.fixed {
	width: 40px;
}

.flex-item {
	flex-grow: 1;
}

h3 {
	margin: 0;
}

span {
	margin-top: 2px;
}

.wrapper-left {
	width: 80%;
	display: inline-block;
}

.wrapper-right {
	width: 18%;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;

}

.labels,
.add-item {
	margin-left: 40px;
}

body {
	margin-top: 20px;
	color: #4d4d4d;
	background-color: rgba(0,0,0, 0.7);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.wrapper p {
	font-size: 14px;
	color: #8c8c8c;

}

.wrapper {
	border-radius: 5px;
	background-color: #EDEFF0;
}

.section-p {
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

.checklist,
.comments,
.activity {
	padding-top: 20px;
}

.btn {
	cursor: pointer;
}

.btn:hover {
	opacity: .75;
}

/************************************
*********** WRAPPER LEFT ************
*************************************/

/********* HEADER STYLES ************/







/********* LABELS STYLES ************/
.labels {
	padding-top: 15px;
}

.label-buttons {
	padding-top: 10px;
}

.edit-description {
	padding-top: 20px;
}

.btn-blue {
	background-color: #0079bf;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 0 5px rgba(0,0,0,.2),0 0 2px #000;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 12px;
}

.btn-blue:hover {
	background-color: #0079d9;
}

.btn-add {
	padding: 10px 12px;
	font-size: 12px;
	border-radius: 5px;
	border: none;
	background: #D6DADC;
	color: #4D4D4D;
}

.edit-description {
	
}

.edit-description p {
	padding: 5px;
	cursor: pointer;
	color: #8c8c8c;
	padding-left: 20px;
	
}

.edit-description p:hover {
	background-color: tomato;
	background: #d6dadc;
	border-radius: 3px;
	color: #4d4d4d;

}

/********* CHECKLIST STYLES ************/
.checklist-options span {
	font-size: 14px;
	color: #8c8c8c;
	cursor: pointer;
}

.checklist-options span:hover {
	color: #4d4d4d;
}



/*** PROGRESS BAR ***/

.progress-label {
	margin-top: 4px;
	font-size: 12px;
	color: #8c8c8c;
}

progress[value] {
	width: 100%;	
}

/*** CHECKBOX LIST ***/
.checkbox {
	margin-top: 8px;
}

.checkbox > input[type=checkbox] {
	display: none;
}

.checkbox > label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 39px;
	margin-right: 15px;
	margin-bottom: 5px;
	font-size: 15px;
}

.checkbox > label:before {
	content: " ";
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .5);
}

.checkbox > input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	background-color: #edeff0;
	font-size: 15px;
	color: #999;
	text-align: center;
	line-height: 15px;
}

input[type=checkbox]:checked + label {
	text-decoration: line-through;
	font-style: italic;
	color: #8c8c8c;
}

/********* COMMENTS STYLES ************/

.comments-main textarea {
	width: 100%;
	border-radius: 2px;
	box-shadow: 1px 1px 5px 2px #d6d8d9;
	border: none;
	resize: none;
}

::-webkit-input-placeholder {
	padding-left: 5px;
	padding-top: 5px;
}

.t-area-opt {
	margin-left: 10px;
}

.text-area {
	position: relative;
}

.text-area-options {
	position: absolute;
	right: 20px;
	bottom: 35px;
}

/********* ACTIVITY STYLES ************/

ul {
	list-style-type: none;
}

.activity-log {
	margin-left: -28px;
}

.activity-comment p{
	border: 1px solid black;
	display: inline-block;
	padding: 20px;
}

/************************************
*********** WRAPPER RIGHT ***********
*************************************/

.wrapper-right a{
	text-decoration: none;
	color: black;
}

.add-buttons {
	margin-left: 10px;
}

/********* BUTTON STYLES ************/
.btn-right {
	background: linear-gradient(to bottom,#fff 0,#f8f9f9 100%);
	box-sizing: border-box;
	border: 1px solid #e2e4e6;
	border-bottom-color: #cdd2d4;
	cursor: pointer;
	display: block;
	height: 34px;
	margin-top: 6px;
	max-width: 300px;
	overflow: hidden;
	padding: 7px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.btn-right i{
	padding-left: 5px;
	padding-right: 10px;
}