/********* MAIN STYLES ************/
.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.container {
	display: flex;
}

.fixed {
	width: 40px;
}

.flex-item {
	flex-grow: 1;
}

h3 {
	margin: 0;
}

span {
	margin-top: 2px;
}

.wrapper-left {
	max-width: 75%;
}

.labels,
.add-item {
	margin-left: 40px;
}

.boxsizing-border {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/********* HEADER STYLES ************/

.header > p {
	font-size: 14px
}






/********* LABELS STYLES ************/








/********* CHECKLIST STYLES ************/




/*** PROGRESS BAR ***/

.progress-label {
	margin-top: 4px;
}

progress[value] {
	width: 100%;	
}

/*** CHECKBOX LIST ***/
.checkbox {
	margin-top: 8px;
}

.checkbox > input[type=checkbox] {
	display: none;
}

.checkbox > label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 39px;
	margin-right: 15px;
	margin-bottom: 5px;
	font-size: 15px;
}

.checkbox > label:before {
	content: " ";
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .5);
}

.checkbox > input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	background-color: #edeff0;
	font-size: 15px;
	color: #999;
	text-align: center;
	line-height: 15px;
}

/********* COMMENTS STYLES ************/

.comments-main textarea {
	width: 100%;
	border-radius: 2px;
	box-shadow: 1px 1px 5px 2px #d6d8d9;
	border: none;
	resize: none;
}

::-webkit-input-placeholder {
	padding-left: 5px;
	padding-top: 5px;
}

.t-area-opt {
	margin-left: 10px;
}

.text-area {
	position: relative;
}

.text-area-options {
	position: absolute;
	right: 20px;
	bottom: 35px;
}

/********* ACTIVITY STYLES ************/

ul {
	list-style-type: none;
}

.activity-log {
	margin-left: -28px;
}
