/************************************
*********** MAIN STYLES ************
*************************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

.wrapper {
	max-width: 700px;
	margin: 0 auto;
	padding: 15px 10px;
}

.container {
	display: flex;
}

.fixed {
	width: 40px;
}

.flex-item {
	flex-grow: 1;
}

h3,
h4 {
	margin: 0;
}

span {
	margin-top: 2px;
}

.wrapper-left {
	width: 79%;
	display: inline-block;
}

.wrapper-right {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;

}

.labels,
.add-item {
	margin-left: 40px;
}

body {
	margin-top: 20px;
	color: #4d4d4d;
	background-color: rgba(0,0,0, 0.7);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, 'Open Sans', Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.wrapper p {
	font-size: 14px;
	color: #8c8c8c;

}

.wrapper {
	border-radius: 5px;
	background-color: #EDEFF0;
}

.section-p {
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

.checklist,
.comments,
.activity {
	padding-top: 20px;
}

.comments-header,
.activity-header {
	margin-bottom: 10px;
}

.btn {
	cursor: pointer;
}

.btn:hover {
	opacity: .75;
}

/************************************
*********** WRAPPER LEFT ************
*************************************/

/********* HEADER STYLES ************/

.dynamic-title {
	resize: none;
	border: none;
	background-color: #EDEFF0;
	font-weight: 700;
	font-size: 1.17em;
	width: 500px;
	padding: 5px;
}

.dynamic-title:focus {
	background-color: #fff;
}

.dynamic-title::-webkit-input-placeholder { 
	color: black; 
}

.dynamic-title:-moz-placeholder { 
	color: black; 
}

.dynamic-title::-moz-placeholder {
 color: black; 
}

.dynamic-title:-ms-input-placeholder { 
	color: black; 
}

/********* LABELS STYLES ************/
.labels {
	padding-top: 15px;
	margin-bottom: 1px;
}

.label-buttons {
	padding-top: 10px;
}

.edit-description {
	padding-top: 20px;
}

.btn-blue {
	background-color: #0079bf;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 0 5px rgba(0,0,0,.2),0 0 2px #000;
	padding: 10px;
	border-radius: 3px;
	border: none;
	font-size: 14px;
	padding: 7px 8px;
}

.btn-blue-new {
	margin-right: 4px;
}

.btn-blue:hover {
	background-color: #0079d9;
}

.btn-add {
	font-size: 12px;
	border-radius: 3px;
	border: none;
	background: #e2e4e6;
	color: #8c8c8c;
	font-size: 14px;
	padding: 8px 10px;
}

.edit-description p {
	padding: 5px;
	cursor: pointer;
	color: #8c8c8c;
	padding-left: 20px;
	
}

.edit-description p:hover {
	background-color: tomato;
	background: #d6dadc;
	border-radius: 3px;
	color: #4d4d4d;

}

.description,
.description-options,
.description-entered,
.edit-checkbox-out {
	display: none;
}

.description-area,
.save-checkbox {
	width: 500px;
	resize: none;
	background-color: #E6E8E9;
	border: 1px solid #cdd2d4;
	margin-top: 5px;
	padding: 7px;
	color: #4d4d4d;
	box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
	border-radius: 3px;
}

.format-helper {
	float: right;
}

.description-options span,
.checklist-options span,
.format-helper {
	font-size: 14px;
	color: #8c8c8c;
	cursor: pointer;
}

.format-helper {
	background-color: #E2E4E6;
	padding: 5px;
	border-radius: 2px;
	margin-right: 3px;
}

.description-outter button, span {
	margin-top: 5px
}

.btn-save-description,
.btn-save-checkbox {
	background: -webkit-linear-gradient(top, #61bd4f 0, #5aac44 100%);
	background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
	box-shadow: 0 1px 0 #3f6f21;
	border: none;
	color: #fff;
	font-size: 14px;
	height: 2pc;
	padding: 5px 20px;
	border-radius: 3px;
	font-weight: 700;
}

.btn-close-description,
.btn-close-checkbox {
	height: 2pc;
	background-color: #EDEFF0;
	color: #4D4D4D;
	border: none;
	font-size: 20px;
	margin-left: 5px;
	padding-top: 3px;
}
/********* CHECKLIST STYLES ************/
.meter {
	margin-top: 5px;
}

.checklist-options span:hover {
	color: #4d4d4d;
}

.description-entered {
	margin: 5px 0;
	line-height: 18px;
}

.edit-checkbox-out {
	margin-left: -12px;
}

.save-checkbox {
	background-color: #fff;
}
.save-checkbox::-webkit-input-placeholder {
   font-size: 14px;
}

.save-checkbox:-moz-placeholder { /* Firefox 18- */
   font-size: 14px; 
}

.save-checkbox::-moz-placeholder {  /* Firefox 19+ */
   font-size: 14px; 
}

.save-checkbox:-ms-input-placeholder {  
   font-size: 14px;
}

/*** PROGRESS BAR ***/
/*General falback*/
progress {
	background-color: #D6DADC;
	border: 0;
	border-radius: 9px;
	height: 8px;
	margin-top: 6px;
}

/*Safari Chrome Fallback*/

progress::-webkit-progress-bar {
  background-color: #D6DADC;
	border: 0;
	border-radius: 9px;
	height: 8px;
}
progress::-webkit-progress-value {
  background-color: #5ba4cf;
	border: 0;
	height: 8px;
	border-radius: 9px;
}

/*Mozzila fallback*/

progress::-moz-progress-bar {
  background-color: #5ba4cf;
	border: 0;
	height: 8px;
	border-radius: 9px;
}

.progress-label {
	margin-top: 4px;
	margin-left: 2px;
	font-size: 11px;
	color: #8c8c8c;
}

progress[value] {
	width: 100%;	
}


/*** CHECKBOX LIST ***/
.checkbox {
	margin-top: 8px;
}

.checkbox > input[type=checkbox] {
	display: none;
}

.checkbox > label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 39px;
	margin-right: 15px;
	margin-bottom: 5px;
	font-size: 15px;
}

.checkbox > label:before {
	content: " ";
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .5);
}

.checkbox > input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	background-color: #edeff0;
	font-size: 15px;
	color: #999;
	text-align: center;
	line-height: 15px;
}

input[type=checkbox]:checked + label {
	text-decoration: line-through;
	font-style: italic;
	color: #8c8c8c;
}

.add-item {
	cursor: pointer;
	padding-left: 10px; 
}

/********* COMMENTS STYLES ************/


.comments-main textarea {
	width: 100%;
	border-radius: 2px;
	box-shadow: 2px 2px 2px 1px #dddddd;
	border: none;
	resize: none;
	padding: 10px 0 10px 10px;
  max-width: 500px;
  color: #8e8e8d;
}

.t-area-opt {
	margin-left: 10px;
}

.text-area {
	position: relative;
	outline: none;
}

.text-area-options {
	position: absolute;
	right: 20px;
	bottom: 60px;
}

.btn-send-comment {
	background: #e2e4e6;
	box-shadow: none;
	color: #8c8c8c;
	border-radius: 3px;
	border: none;
	margin: 8px 4px 0 0 ;
	padding: 7px 20px;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}
/********* ACTIVITY STYLES ************/
.activity p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.usr-lg img {
	width: 30px;
	height: 30px;	
}

.usr-sm img {
	width: 18px;
	height: 18px;
	margin-left: 10px;
}

.activity-comment-lg {
	border-radius: 3px;
	box-shadow: 1px 1px 1px 1px #dddddd;
	display: inline-block;
	padding: 10px;
	background-color: #fff;
}

.user-activity {
	font-size: 14px;
}

.activity-time {
	color: #8c8c8c;
	font-size: 12px;
}

.user-info {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d5dadc;
}

.last {
	border: none;
}

.user-activity-small {
	font-size: 14px;
}

.user-name {
	font-weight: 700;
}
/************************************
*********** WRAPPER RIGHT ***********
*************************************/

.wrapper-right a{
	text-decoration: none;
	color: black;
}

.add-buttons {
	margin-left: 10px;
}

.add-buttons-bottom {
	margin-top: 20px;
}

/********* BUTTON STYLES ************/
.btn-right {
	background: linear-gradient(to bottom,#fff 0,#f8f9f9 100%);
	box-sizing: border-box;
	border: 1px solid #e2e4e6;
	border-bottom-color: #cdd2d4;
	cursor: pointer;
	display: block;
	height: 34px;
	margin-top: 6px;
	max-width: 300px;
	overflow: hidden;
	padding: 7px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #8c8c8c;
	font-weight: bold;
	font-size: 13px
}

.btn-right i{
	padding-left: 5px;
	padding-right: 10px;
	color: #9A9A9A;
}

hr {
	border-top: 1px solid #d5dadc;
	background-color: #EDEFF0;
}

.add-buttons p{
	padding-left: 10px;
}