.fa-trello,
.fa-check-square {
  float: left;
  display: block;
  margin-right: 20px;
  margin-bottom: 150px;
}

.fa-check-square {
	padding-top: 20px;
	margin-bottom: 0;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}
/********** CHECKLIST *************************************/

/******CHECKLIST METER *****************/
.meter-outer {
	width: 100%;
	overflow: hidden;
}

.meter-percent {
	width: 4%;
	float: left;
}

.meter {
	height: 10px;
	position: relative;
	background: #F8F9F9;
	border-radius:25px;
	padding: 25;
	margin-left: 50px;
}

.meter > span {
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #F8F9F9;
	background-image: linear-gradient(
           center bottom,
           rgb(43,194,83) 37%,
           rgb(84,240,84) 69%
		);
	box-shadow: 
		inset 0 2px 9px rgba(255,255,255,0.3),
		inset 0 -2px 6px rgba(0,0,0,0.4);
	;
	position: relative;
	overflow: hidden;
}

.blue > span {
	background-position: #0079BF;
	background-image: linear-gradient(to bottom, #0079BF, #0079BF);
}

/****** CheckBox list  *******/

input[type="checkbox"] {
	display:none;
}